@import 'utils';

.button{
    background: $oc-green-7; // open-color -> $oc-색상 이름-명암
    transition:all .2s ease-in;
    display: inline-black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    position : fixed;
    font-size:2rem;
    font-weight: 500;
    border-radius:4px;
    cursor:pointer;

    @include place-at-center();

    width:1200px;
//반응형 디자인
    @include media("<huge"){ // 믹스인 utils에 설정한 breakpoints에서 지정한 값들을 참조함
        width:1024px;
    }
    @include media("<large"){
        width:768px;
    }
    @include media("<medium"){
        width:90%;
    }
    
    // 마우스 상태에 따라 다른 효과 지정

    &:hover{
        background: $oc-green-6;

    }
    &:active{
        margin-top:3px;
        background: $oc-green-8;
    }
}